div.container {
  background-color: #555;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
}

h1 {
  font-family: 'Tangerine', cursive;
  font-size: 48px;
}

h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  margin-bottom: 0;
}

blockquote {
  background-color: #fff;
  position: relative;
  margin-top: 20px;
  text-indent: 1em;
}

blockquote::before, blockquote::after {
  position: absolute;
  font-size: 4em;
}
blockquote::before {
  content: '\201c';
  left: -5px;
  top: -20px;
}

blockquote cite {
  text-indent: 0;
}